/*
Fonts
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');


/* media screen */

@media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    p{
      font-size: 1.1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }

/* Variables */

:root{
    /* Primary Colours */
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 62%, 37%);
    --clr-primary-3: hsl(205, 74%, 64%);
    --clr-primary-4: hsl(205, 32%, 71%);
    --clr-primary-5: hsl(206, 13%, 46%);
    --clr-primary-6: hsl(207, 6%, 34%);

    /* greys for backgrounds and shading */

    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);

    /* other colours */
    --clr-black-1: hsl(0, 0%, 0%);
    --clr-white: #fff;

    --transition: all 0.3s linear;

    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Open Sans', sans-serif;

}


 /* global styles */

 *,
 ::after,
 ::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 body {
   font-family: var(--ff-secondary);
   background: var(--clr-grey-7);
   color: var(--clr-grey-1);
   line-height: 1.5;
   font-size: 0.875rem;
 }
 ul {
   list-style-type: none;
 }
 a {
   text-decoration: none;
 }
 h1,
 h2,
 h3,
 h4 {
   letter-spacing: 0.1rem;
   text-transform: capitalize;
   line-height: 1.25;
   margin-bottom: 0.75rem;
   font-family: var(--ff-primary);
 }
 h1 {
   font-size: 3rem;
 }
 h2 {
   font-size: 2rem;
 }
 h3 {
   font-size: 1.25rem;
 }
 h4 {
   font-size: 0.875rem;
 }
 p {
   margin-bottom: 1.25rem;
   color: var(--clr-grey-5);
 }
 
 
   /* global classes */
 
   body {
     font-family: var(--ff-secondary);
     background: var(--clr-grey-8);
     color: var(--clr-grey-1);
     line-height: 1.5;
     font-size: 0.875rem;
   }
 
   /* section */
 .section {
     padding: 5rem 0;
   }
   
   .section-center {
     width: 90vw;
     margin: 0 auto;
     max-width: 1170px;
   }
   @media screen and (min-width: 992px) {
     .section-center {
       width: 95vw;
     }
   }
   main {
     min-height: 100vh;
     display: grid;
     place-items: center;
   }


  /* Navbar */

.navbar {
    background: var(--clr-primary-1);
    box-shadow: var(--clr-black-1);
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.nav-toggle {
    font-size: 1.5rem;
    color: var(--clr-grey-8);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

.nav-toggle:hover {
    color: var(--clr-primary-3);
    transform: rotate(90deg);
}

.logo {
    height: 50px;
}



.links a {
    color: var(--clr-grey-9);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: var(--transition);
}

.links a:hover {
    background: var(--clr-primary-4);
    color: var(--clr-primary-2);
}

.social-icons {
    display: none;
}

.links {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

/* toggle class */

.show-links {
    height: 10rem;
}

@media screen and (min-width: 800px) {
    .nav-center {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .nav-header {
        padding: 0;
    }
    .nav-toggle {
        display: none;
    }
    .links {
        /* important */
        height: auto;
        display: flex;
    }
    .links a {
        padding: 0;
        margin: 0 0.5rem;
    }
    .links a:hover {
      padding: 0;
      background: transparent;
    }
    .social-icons {
      display: flex;
    }
    .social-icons a {
      margin: 0 0.5rem;
      color: var(--clr-primary-5);
      transition: var(--transition);
    }
    .social-icons a:hover {
      color: var(--clr-primary-7);
    }
}

/* main content */

.main-content{
    padding-left: 2rem;
}


.main-page-content{
  padding-top: 1rem;;
  text-align: center;
}

.catalogue-content{
  padding-top: 1rem;;
  padding-left: 14rem;
  
}

.catalogue-content a:visited {
    text-decoration: none; 
    color: var(--clr-primary-1);
}

.catalogue-content a:hover {
  color: var(--clr-grey-4);
}

.text-box {
  border: solid;
  border-radius: 10px;
  border-color: var(--clr-primary-1);
  padding: 1rem;
  margin: 1rem;
}




/* sidebar */


.sidebar{
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: var(--clr-primary-1);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a{
  display: block;
  color: var(--clr-grey-9);
  padding: 2rem;
  text-decoration: none;
}

.sidebar a.active {
  background-color: var(--clr-primary-4);
  color: var(--clr-white);
}

.sidebar a:hover:not(.active){
  background-color: var(--clr-primary-2);
  color: var(--clr-grey-9);
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}